/* This file will hold styles that are loaded using the same media query as the wide grid. */

/* Four column layout */

div.four-column-table { width: 100%; display: block; overflow: auto; margin-bottom: 30px; }
div.four-column-table div.left-column { width: 23%; float: left; padding: 0 0 0 10px; }
div.four-column-table div.middle-left-column { width: 23%; float: left; padding: 0 10px;  }
div.four-column-table div.middle-right-column { width: 23%; float: left; padding: 0 10px;  }
div.four-column-table div.right-column { width: 23%; float: left; padding: 0 10px 0 0; }

/* Header Zone */

div#region-header-first {
  width: 580px;
}

div#region-header-first ul.ui-tabs-nav li {
  font-size: 100%;
}

div.home-page-search input.form-text {
  width: 362px;
}

div.home-page-search input.edit-onesearch-block-submit {
  width: 120px;
    font-size: 18px;
}

div#region-header-second {
  width: 580px;
}

div#region-header-second div.home-page-quick-links img {
  width: 95px;
  height: 95px;
}

/* Preface Zone */

div#region-preface-second .views-row {
  min-height: 70px;
}

div#region-preface-second .views-field-field-event-date {
  font-size: 150%;
  border: 1px solid #ddd;
  width: 50px;
  text-align: center;
  background-color: #f3ede1;
  float: left;
}

div#region-preface-second .views-field-title {
  font-size: 120%;
  padding-left: 60px;
}

div#region-preface-second .views-field-field-event-date-1 {
  color: #888;
  padding-left: 60px;
}

div#region-preface-second .views-field-field-event-location {
  color: #333;
  padding-left: 60px;
}

/* three column carousel */

div.carousel-three-items button.slick-prev {
  max-height: 205px; 
}

div.carousel-three-items button.slick-next {
  max-height: 205px; 
}

/* live stream */

div.lib-live-video {
  height: 478px;
}
