/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */

/* Global Styles */

/* Three column layout */
div.three-column-table { width: 100%; display: block; overflow: auto; margin-bottom: 30px; }
div.three-column-table div.left-column { width: 30%; float: left; padding: 0 10px; }
div.three-column-table div.middle-column { width: 30%; float: left; padding: 0 10px;  }
div.three-column-table div.right-column { width: 30%; float: left; padding: 0 10px;  }

/* Four	column layout */
div.four-column-table { width: 100%; display: block; overflow: auto; margin-bottom: 30px; }
div.four-column-table div.left-column { width: 22%; float: left; padding: 0 0 0 10px; }
div.four-column-table div.middle-left-column { width: 22%; float: left; padding: 0 5px 0 10px;  }
div.four-column-table div.middle-right-column { width: 22%; float: left; padding: 0 10px 0 5px;  }
div.four-column-table div.right-column { width:	22%; float: left; padding: 0 10px 0 0; }

/*Four column layout view */
div.four-column-view { width: 100%; display: block; overflow: auto; margin-bottom: 10px; }
div.four-column-view div.views-row-1 { width: 22%; float: left; padding: 0; margin-right: 25px; }
div.four-column-view div.views-row-2 { width: 22%; float: left; padding: 0; margin-right: 25px; }
div.four-column-view div.views-row-3 { width: 22%; float: left; padding: 0; margin-right: 25px; }
div.four-column-view div.views-row-4 { width: 22%; float: left; padding: 0; }
div.four-column-view img { padding-right: 0; }
div.four-column-view h5 { float: left; margin-top: 10px; font-size: 160%; }

/* Five by Two column layout */
div.five-by-two-column-table a { 
 display: block; 
 width: 169px; 
 height: 100px; 
 font-size: 145%; 
 padding: 5px 0 0 10px; 
 text-shadow: 1px 1px 1px black;
}
div.five-by-two-column-table { width: 100%; display: block; overflow: auto; margin-bottom: 30px; }
div.five-by-two-column-table div.first-column { width: 169px; float: left; padding: 0 1% 1% 0; height: 100px; background-size: 169px 100px; }
div.five-by-two-column-table div.second-column { width: 169px; float: left; padding: 0 1% 1% 0; height: 100px; background-size: 169px 100px; }
div.five-by-two-column-table div.third-column { width: 169px; float: left; padding: 0 1% 1% 0; height: 100px; background-size: 169px 100px;  }
div.five-by-two-column-table div.fourth-column { width: 169px; float: left; padding: 0 1% 1% 0; height: 100px; background-size: 169px 100px; }
div.five-by-two-column-table div.fifth-column { width: 169px; float: left; padding: 0 1% 1% 0; height: 100px; background-size: 169px 100px; }
div.five-by-two-column-table div.sixth-column { width: 169px; float: left; padding: 0 1% 1% 0; height: 100px; background-size: 169px 100px;  }
div.five-by-two-column-table div.seventh-column { width: 169px; float: left; padding: 0 1% 1% 0; height: 100px; background-size: 169px 100px; }
div.five-by-two-column-table div.eighth-column { width: 169px; float: left; padding: 0 1% 1% 0; height: 100px; background-size: 169px 100px; }
div.five-by-two-column-table div.ninth-column { width: 169px; float: left; padding: 0 1% 1% 0; height: 100px; background-size: 169px 100px; }
div.five-by-two-column-table div.tenth-column { width: 169px; float: left; padding: 0 1% 1% 0; height: 100px; background-size: 169px 100px; }

/* Ask a Librarian Button */

div#libchat_8dc4db4d87bea74f03769d6a5b7e86eb {
  top: 400px;
  box-shadow: 6px 6px 3px #999999;
  border-bottom-left-radius: 10px;
  width: 50px;
  height: 80px;
}

div#libchat_8dc4db4d87bea74f03769d6a5b7e86eb img {
  width: 50px !important;
  height: 80px !important;
}

/* Menu Zone */

div#zone-menu {
  font-size: 100%;
}

div#zone-menu .block-main-menu ul > li > ul {
  top: 32px;
}

/* Header Zone */

div#region-header-first {
  width: 460px;
  margin-top: 25px;
}

div#region-header-first ul.ui-tabs-nav li {
  font-size: 90%;
}

div#region-header-second {
  width: 460px;
}

div.home-page-search {
  float: left;
}

div.home-page-search input.form-text {
  width: 305px;
}

div#region-header-second li {
  width: 20%;
}

/* Preface Zone */

div#region-preface-first div.block-facebook-latest-feed {
  padding: 0 0 5px 75px;
}

div#region-preface-first p.preface-first-icon img {
  padding-right: 15px;
  display: block;
}

div#region-preface-third img {
  display: block;
  padding-right: 20px;
}

div#region-preface-first .views-field-field-news-image	{
  display: block;
}

div#region-preface-first .views-row {
  padding: 0 10px 30px 75px;
  border-bottom: none;
}

div#region-preface-first img {
  float: left;
  max-height: 120px;
  max-width: 160px;
  padding-right: 25px;
}

/* three column carousel */

div.carousel-three-items button.slick-prev {
  max-height: 160px; 
}

div.carousel-three-items button.slick-next {
  max-height: 160px; 
}

/* live	stream */

div.lib-live-video {
  height: 377px;
}

/* Dirac quick links */

div#dirac-quick-links img {
  width: 100px;
  height: 100px;
}

div#dirac-quick-links ul {
  margin-left: 20px;
}

div#dirac-quick-links li {
  font-size: 100%;
  margin-left: 0;
  margin-right: 45px;
}
