/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */

/* Ask a Librarian Button */

div#libchat_8dc4db4d87bea74f03769d6a5b7e86eb {
  position: fixed;
  right: 0;
  top: 400px;
  display: block;
  width: 50px;
  height: 80px;
  overflow: hidden;
  padding: 10px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #782f40), color-stop(1, #5f2835));
  background: -moz-linear-gradient(top center, #782f40 0%, #5f2835 100%);
  box-shadow: 6px 6px 3px #999999;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Menu Zone */

div#zone-menu {
  font-size: 100%;
}

/* Header Zone */

div#region-header-first {
  display: block;
  margin-top: 25px;
}

div#region-header-first div.home-page-search-block div.content {
  height: 310px;
}

div#region-header-first ul.ui-tabs-nav li {
  font-size: 90%;
}

div#region-header-second {
  width: 460px;
}

div.home-page-search {
  float: left;
}

div.home-page-search input.form-text {
  width: 292px;
  height: 40px;
  float: left;
  margin-top: 10px;
  font-size: 16px;
}

div.home-page-search input.edit-onesearch-block-submit {
  float: left;
  width: 80px;
  height: 40px;
  margin-top: 10px;
  font-size: 15px;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #00a87f), color-stop(1, #008e67));
  background: -moz-linear-gradient(top center, #00a87f 0%, #008e67 100%);
  background-color: #00a87f;
  text-shadow: none;
}

div.home-page-search h5 {
  text-shadow: none;
  margin-top: 15px;
  margin-bottom: 15px;
  float: left;
  width: 100%;
}

div.home-page-search ul {
  float: left;
  width: 100%;
}

div.home-page-search li {
  float: left;
  width: 50%;
  margin-bottom: 10px;
  font-size: 90%;
  
}

div.home-page-search label {
  font-weight: normal;
  display: inline;
}

/* Preface Zone */

div#region-preface-second img {
  display: block;
  padding-right: 20px;
}

div#region-preface-first .views-field-field-news-image	{
  display: block;
}

div#region-preface-first .views-row {
  padding: 0 50px 30px 0;
  border-bottom: none;
  min-height: 120px;
}

div#region-preface-first img {
  float: left;
  max-height: 120px;
  max-width: 160px;
  padding-right: 25px;
}
