/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */

/* User Zone */

div#zone-user-wrapper {
  background-image: url("../images/fsu-seal-top.png");
  background-repeat: no-repeat;
  background-position: 50% bottom;
}

div#zone-user p {
  margin-bottom: 2px;
}

div.region-user-first {
  display: inline;
}

div.region-user-first p {
  text-align: left;
  margin-top: 18px;
}

div.region-user-second p {
  text-align: right;
}

div.region-user-second .block {
  float: right;
  margin-top: 2px;
  width: 100%;
}

div.region-user-second .block-summon-solr-search-block {
  padding-right: 0;
  width: auto;
  margin-bottom: 4px;
  margin-top: 6px;
}

div.region-user-second input#edit-onesearch-block-input {
  width: 200px;
}

div.region-user-second input#edit-onesearch-block-submit {
  float: none;
  margin-top: 0;
}

/* Branding Zone */

div#zone-branding-wrapper {
  background-image: url("../images/fsu-seal-bottom.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
}

h1.site-name, h2.site-name {
  margin: 50px 0 0 0;
}

h6.site-slogan {
  display: block;
  text-align: center;
  margin-bottom: 10px; 
  font-family: "Adobe Garamond Pro",adobe-garamond-pro,"Times New Roman",times,serif;
  letter-spacing: 0.5px;
  font-size: 130%;
  color: #47222a;
}

/* Menu Zone */

div#zone-menu-wrapper {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
}

div#zone-menu {
  z-index: 9999;
}

div#zone-menu a, a:visited {
  color: #782f40;
  padding: 16px 12px 14px 12px;
}

div#zone-menu a.active {
  background-color: #eee;
}

div#zone-menu a:hover {
  color: #bda777;
  background-color: #eee;
}

div#zone-menu ul li.expanded, div#zone-menu ul li.collapsed {
  list-style-image: none;
  list-style-type: none;
}

div#zone-menu .block-main-menu {
  display: table;
  margin: 0 auto;
}

div#zone-menu .block-main-menu ul > li > ul {
  visibility: hidden;
  position: absolute;
  top: 32px;
  background-color: white;
  overflow: auto;
  width: auto;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  z-index: 9998;
}

div#zone-menu .block-main-menu ul > li:hover > ul {
  visibility: visible;
}

div#zone-menu ul:first-child > li {
  float: left;
}

div#zone-menu ul > li > ul > li {
  margin: 0;
  padding: 0;
}

div#zone-menu ul > li > ul > li a {
  display: block;
}

/* Header Zone */

div#zone-header-wrapper {
  padding-top: 0;
}

div#region-header-first .region-inner {
  padding-right: 40px;
}

div#region-header-second li {
  width: 22%;
}

/* Preface Zone */

div#region-preface-first .spotlight {
  padding-right: 30px;
}

div#region-preface-first .views-row {
  width: 45%;
}

/* Postscript Zone */

div#zone-postscript .block {
  padding: 0 20px 0 5px;
}

/* Footer Zone */

div#zone-footer-wrapper {
  text-align: left;
}

div#zone-footer p {
  margin: 5px 5px;
}

div#zone-footer	ul.menu	{
  text-align: left;
}

div#zone-footer p#giving {
  margin-left: -20px;
}
