/* This file will hold styles that are loaded using the same media query as the wide grid. */

/* Four column layout */

div.four-column-table { width: 100%; display: block; overflow: auto; margin-bottom: 30px; }
div.four-column-table div.left-column { width: 23%; float: left; padding: 0 0 0 10px; }
div.four-column-table div.middle-left-column { width: 23%; float: left; padding: 0 10px;  }
div.four-column-table div.middle-right-column { width: 23%; float: left; padding: 0 10px;  }
div.four-column-table div.right-column { width: 23%; float: left; padding: 0 10px 0 0; }

/* Four column view */
div.four-column-view div.views-row-1 { margin: 0 25px 0 10px; }
div.four-column-view img { max-width: 180px; max-height: 135px; }

/* Five by Two column layout */
div.five-by-two-column-table a { 
 display: block; 
 width: 218px; 
 height: 129px; 
 font-size: 165%; 
 padding: 5px 0 0 10px; 
 text-shadow: 1px 1px 1px black;
}
div.five-by-two-column-table { width: 100%; display: block; overflow: auto; margin-bottom: 30px; }
div.five-by-two-column-table div.first-column { width: 218px; float: left; padding: 0 1% 1% 0; height: 129px; background-size: 218px 129px; }
div.five-by-two-column-table div.second-column { width: 218px; float: left; padding: 0 1% 1% 0; height: 129px; background-size: 218px 129px; }
div.five-by-two-column-table div.third-column { width: 218px; float: left; padding: 0 1% 1% 0; height: 129px; background-size: 218px 129px;  }
div.five-by-two-column-table div.fourth-column { width: 218px; float: left; padding: 0 1% 1% 0; height: 129px; background-size: 218px 129px; }
div.five-by-two-column-table div.fifth-column { width: 218px; float: left; padding: 0 1% 1% 0; height: 129px; background-size: 218px 129px; }
div.five-by-two-column-table div.sixth-column { width: 218px; float: left; padding: 0 1% 1% 0; height: 129px; background-size: 218px 129px;  }
div.five-by-two-column-table div.seventh-column { width: 218px; float: left; padding: 0 1% 1% 0; height: 129px; background-size: 218px 129px; }
div.five-by-two-column-table div.eighth-column { width: 218px; float: left; padding: 0 1% 1% 0; height: 129px; background-size: 218px 129px; }
div.five-by-two-column-table div.ninth-column { width: 218px; float: left; padding: 0 1% 1% 0; height: 129px; background-size: 218px 129px; }
div.five-by-two-column-table div.tenth-column { width: 218px; float: left; padding: 0 1% 1% 0; height: 129px; background-size: 218px 129px; }

/* Header Zone */

div#region-header-first {
  width: 580px;
}

div#region-header-first ul.ui-tabs-nav li {
  font-size: 100%;
}

div.home-page-search input.form-text {
  width: 362px;
}

div.home-page-search input.edit-onesearch-block-submit {
  width: 120px;
    font-size: 18px;
}

div#region-header-second {
  width: 580px;
}

div#region-header-second div.home-page-quick-links img {
  width: 95px;
  height: 95px;
}

/* Preface Zone */

div#region-preface-first div.block-latest-blog-post-block {
  min-height: 115px;
}

div#region-preface-first section.home-page-facebook-logo {
  min-height: 115px;
}

div#region-preface-third .views-row {
  min-height: 70px;
}

div#region-preface-third .views-field-field-event-date {
  font-size: 120%;
  padding: 4px 2px 0px 2px;
  color: #782f40;
  font-weight: bold;
  border: 2px solid #782f40;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  text-align: center;
  float: left;
}

div#region-preface-third h5#home-events-header {
  margin-left: 9px;
}

div#region-preface-third div.views-field-field-event-date div.field-content {
  padding-top: 8px;
  padding-left: 6px;
  padding-right: 6px;
  line-height: 110%;
}

div#region-preface-third .views-field-title {
  font-size: 100%;
  padding-left: 70px;
}

div#region-preface-third .views-field-field-event-date-1 {
  color: #888;
  padding-left: 70px;
}

div#region-preface-third .views-field-field-event-location {
  color: #333;
  padding-left: 70px;
}

/* three column carousel */

div.carousel-three-items button.slick-prev {
  max-height: 205px; 
}

div.carousel-three-items button.slick-next {
  max-height: 205px; 
}

/* live stream */

div.lib-live-video {
  height: 478px;
}

/* Dirac quick links */

div#dirac-quick-links img {
  width: 125px;
  height: 125px;
}

div#dirac-quick-links ul {
  margin-left: 25px;
}

div#dirac-quick-links li {
  font-size: 120%;
  margin-left: 0;
  margin-right: 71px;
}

/* Responsive Grids 4 column */

div.views-responsive-grid.views-columns-4 div.views-column {
   float: left;
   display: inline;
   width: 25%;
   min-height: 400px;
}
