/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/* Global Styles */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: "Benton Sans",Arial,sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Benton Sans",Arial,sans-serif;
  color: #782f40;
  text-shadow: 0 1px 1px rgba(44,42,41,.25);
  font-weight: normal;
}

h2.block-title {
  font-size: 160%;
  margin: 0 0 .5em 0;
}

a, a:link, a:visited {
  text-decoration: none;
  color: #782f40;
}

a:hover {
  color: #2f1c1f;
}

ul.menu li.leaf {
  list-style: none;
  list-style-image: none;
}

/* User Zone */

div#zone-user-wrapper {
  border-color: #7c3546 #722d3d #722d3d;
  border-width: 1px;
  border-style: solid;
  padding: .238em;
  min-height: 2.8em;
  background-color: #782f40;
  border-bottom: none;
  background-image: none;
}

div#zone-user, div#zone-user a, 
div#zone-user a:link, div#zone-user a:visited {
  color: white;
  font-weight: lighter;
  opacity: 0.9;
}

div#zone-user a:hover {
  color: #ceb888;
}

div.region-user-first {
  display: none;
}

div.region-user-second p {
  margin-bottom: 5px;
}

div.region-user-second .block {
  margin-top: 2px;
  width: 100%;
  text-align: center;
}

div.region-user-second .block-summon-solr-search-block {
  float: none;
}

div.region-user-second #block-summon-solr-search-summon-solr-search-block {
  margin-bottom: 5px;
}

div.region-user-second input#edit-onesearch-block-submit {
  float: none;
  margin-top: 0;
}

/* Branding Zone */

div#zone-user-wrapper {
  background-image: none;
}

hgroup.site-name-slogan { width: 100%; }
h1.site-name, h2.site-name {
  text-align: center;
  font-family: "Adobe Garamond Pro",adobe-garamond-pro,"Times New Roman",times,serif;
  font-size: 2.369em;
  text-transform: uppercase;
  color: #2c2a29;
  text-shadow: 0 1px 1px rgba(44,42,41,.25);
  margin: 17px 0px 7px 0;
  font-weight: normal;
  padding-bottom: 5px;
}

h1.site-name a, h2.site-name a {
  font-family: "Adobe Garamond Pro",adobe-garamond-pro,"Times New Roman",times,serif;
  color: #2c2a29;
  letter-spacing: 1.2px;
}

h6.site-slogan {
  display: none;
}

/* Menu Zone */

div#zone-menu-wrapper {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
}

div#zone-menu a, div#zone-menu a:visited {
  padding: 10px 10px;
}

div#zone-menu a:hover {
  color: #5f2835;
  background-color: #eee;
}

div#zone-menu ul > li > ul.rm-removed {
  display: none !important;
  visibility: hidden !important;
}

/* Header Zone */

div#zone-header-wrapper {
  background-color: #e4e4e4;
}

/* Content Zone */

div#zone-content-wrapper {
  margin-top: 1em;
}

/* Postscript Zone */

div#zone-postscript-wrapper {
  background-color: #f3ede1;
}

div#zone-postscript {
  padding: 1.5em 0 0 0;
}

/* Footer Zone */

div#zone-footer-wrapper {
  border-color: #7c3546 #722d3d #722d3d;
  border-width: 1px;
  border-style: solid;
  padding: .238em;
  min-height: 2.8em;
  background-color: #782f40;
  color: white;
  text-align: center;
  font-weight: lighter;
}

div#zone-footer {
  padding: 20px 0;
}

div#zone-footer h1, div#zone-footer h2, div#zone-footer h3,
div#zone-footer h4, div#zone-footer h5, div#zone-footer h6 {
  color: #dacaa6;
  margin: 10px 0 5px 5px;
}

div#zone-footer p {
  margin: 5px 5px 15px 5px;
  opacity: 0.9;
  line-height: 190%;
}

div#zone-footer a, div#zone-footer a:visited {
  color: #dacaa6;
}

div#zone-footer a:hover {
  color: #ceb888;
}

div#zone-footer ul.menu {
  text-align: center;
}
