/* Login Form */

#user-login .item-list { display: none; }

/* Research Page */

.page-research td { padding: 1rem; }
.page-research td.col-1 { width: 50%; }
.page-research td h2.node-title{ margin-top: 0; }

/* Materials Purchase Suggestion Form */

.page-node-add-materials-purchase-suggestion .preview h3 { display: none; } 
.page-node-add-materials-purchase-suggestion .preview article.node-teaser { display: none; }
.page-node-add-materials-purchase-suggestion .form-item-title { display: none; }
article.node-preview div.field { margin: 15px 0 0 10px; }
.page-node-add-materials-purchase-suggestion article.node-preview ul.action-links { display: none; }
.page-node-add-materials-purchase-suggestion article.node-preview ul.field-collection-view-links { display: none; }

/* Reserve Item Request */

.page-node-add-reserve-item-request .preview h3 { display: none; }
.page-node-add-reserve-item-request .preview article.node-teaser { display: none; }
.page-node-add-reserve-item-request .form-item-title { display: none; }
.page-node-add-reserve-item-request article.node-preview ul.action-links { display: none; }
.page-node-add-reserve-item-request article.node-preview ul.field-collection-view-links { display: none; }

/* Search Results Page */

.search-info { display: none; }

/* OneSearch Page */

.onesearch-form-wrapper {
    width: 450px;
    padding: 8px;
    margin: 10px auto;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    border-color: #dedede #bababa #aaa #bababa;
    box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
    border-radius: 10px;    
    background-color: #f6f6f6;
    background-image: linear-gradient(top, #f6f6f6, #eae8e8);
}

.onesearch-form-wrapper #search {
    width: 330px;
    height: 45px;
    padding: 10px 0px 10px 5px;
    float: left;    
    font: bold 16px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
    border-radius: 3px;
    margin: 5px 0px 5px 5px;
}

.onesearch-form-wrapper #submit {
    float: right;    
    margin: 6px 3px 0 0;
    border: 1px solid #280007;
    height: 42px;
    width: 95px;
    padding: 0;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    text-transform: uppercase;    
    background-color: #5e0117;
    background-image: linear-gradient(top, #280007, #5e0117);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;      
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #fff;
}

/* Suppress Contact Information */
.page-node-120 .field-name-field-contact { display: none; }
.page-node-112 .field-name-field-contact { display: none; }
.page-node-103 .field-name-field-contact { display: none; }

/* Events Feed */
.page-aggregator .feed-item-date { display: none; }
.page-aggregator .feed-updated { display: none; }
.page-aggregator .feed-image { display: none; }
.page-aggregator .feed-description { display: none; }
.page-aggregator .feed-url { display: none; }
.page-aggregator .feed-item-title { margin-top: 15px; }
.page-aggregator .feed-item-body b:nth-child(4) { display: block; margin-top: 10px; } 

/* Scholarship Submission Form */
#edit-field-author-agreement > div > label { display: none; }
input#edit-field-author-agreement-und::after { 
    content: "*";
    color: #F00;
    font-size: 150%;
    margin-left: 100%;
}
div.form-item-field-author-agreement-und > div.description {
    margin-top: -1em;
    font-size: 125%;
}
div#edit-field-author-agreement { padding: 10px 0; }

/* Styles for three column slick carousel */
div.carousel-three-items .slick-slide {
  margin: 0 10px;
}

div.carousel-three-items .slick-list {
  margin: 0 -10px;
  width: 100%;
}

div.carousel-three-items button.slick-prev {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  margin: 0;
  border-radius: 0;
  font-size: 140%;
  background-color: rgba(0,0,0,0.5);
}

div.carousel-three-items button.slick-prev:hover {
  background-color: black;
}

div.carousel-three-items button.slick-prev:focus {
  box-shadow: none;
}

div.carousel-three-items .slick-next {
  position: absolute;
  top: 0;
  right: 20px;
  z-index: 1;
  height: 100%;
  margin: 0 -3px 0 0;
  border-radius: 0;
  font-size: 140%;
  background-color: rgba(0,0,0,0.5);
}

div.carousel-three-items button.slick-next:hover {
  background-color: black;
}

div.carousel-three-items button.slick-next:focus {
  box-shadow: none;
}

/* News Page */

body.page-news img {
  float: left;
  padding-right: 20px;
}

body.page-news li.node-readmore {
  float: right;
}

/* Contact Us Page */

body.context-contact-us div.three-column-table div p { padding-left: 35px; }

/* DRS Home Page */

div.view-drs-page-news-teasers img {
  float: left;
  padding-right: 20px;
}

div.view-drs-page-news-teasers .views-more-link {
  font-weight: bold;
  padding-left: 15px;
}

div.view-drs-page-news-teasers .views-more-link:after {
  content: "⇢";
  display: inline-block;
  padding-left: 5px;
}

/* Taxonomy Term View */

div.view-taxonomy-term div.view-content .views-row .node {
  border: none;
  padding: 5px 0 5px 10px;
}

div.view-taxonomy-term div.view-header li {
  list-style: none;
  margin: 15px 0 5px 0;
}

/* Subject Librarian Page */

div.view-library-staff img {
  float: right;
  padding-left: 20px;
  padding-bottom: 15px;
}

/* Eresource Page */
body.node-type-e-resource div.field-item img {
  max-width: 450px;
  width: 100%;
}
