/* Special Alert News */

div#region-preface-first div.view-home-page-news-teasers div.views-row.views-row-1 {
  /*border: 1px solid red;
  background-color: yellow;
  padding-bottom: 0;
  margin-bottom: 30px;*/
} 

div#region-preface-first div.view-home-page-news-teasers div.views-row.views-row-1 .views-field-title {
  /*padding-top: 20px;*/
}

/* Covid-19 page */
body.page-node-738636 div#region-content a {
  text-decoration: underline;
}

/* Login Form */

#user-login .item-list { display: none; }

/* All Blogs Page */

body.page-blogs div#zone-content p {
  margin-bottom: 30px;
}

/* Research Page */

.page-research td { padding: 1rem; }
.page-research td.col-1 { width: 50%; }
.page-research td h2.node-title{ margin-top: 0; }

/* Materials Purchase Suggestion Form */

.page-node-add-materials-purchase-suggestion .preview h3 { display: none; } 
.page-node-add-materials-purchase-suggestion .preview article.node-teaser { display: none; }
.page-node-add-materials-purchase-suggestion .form-item-title { display: none; }
article.node-preview div.field { margin: 15px 0 0 10px; }
.page-node-add-materials-purchase-suggestion article.node-preview ul.action-links { display: none; }
.page-node-add-materials-purchase-suggestion article.node-preview ul.field-collection-view-links { display: none; }

/* Reserve Item Request */

.page-node-add-reserve-item-request h1#page-title { display: none; }
.page-node-add-reserve-item-request .preview h3 { display: none; }
.page-node-add-reserve-item-request .preview article.node-teaser { display: none; }
.page-node-add-reserve-item-request .form-item-title { display: none; }
.page-node-add-reserve-item-request article.node-preview ul.action-links { display: none; }
.page-node-add-reserve-item-request article.node-preview ul.field-collection-view-links { display: none; }
.page-node-add-reserve-item-request .form-item-field-library-building-und { display: none; }
.page-node-add-reserve-item-request .form-item-field-reserve-item-und-0-field-reserve-item-personal-copy-und { display: none; }
.page-node-add-reserve-item-request .form-item-field-reserve-item-und-0-field-field-reserve-item-donate-und { display: none; }
.page-node-add-reserve-item-request .form-item-field-reserve-item-und-1-field-reserve-item-personal-copy-und { display: none; }
.page-node-add-reserve-item-request .form-item-field-reserve-item-und-1-field-field-reserve-item-donate-und { display: none; }

/* Search Results Page */

.search-info { display: none; }

/* OneSearch Page */

.onesearch-form-wrapper {
    width: 450px;
    padding: 8px;
    margin: 10px auto;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    border-color: #dedede #bababa #aaa #bababa;
    box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
    border-radius: 10px;    
    background-color: #f6f6f6;
    background-image: linear-gradient(top, #f6f6f6, #eae8e8);
}

.onesearch-form-wrapper #search {
    width: 330px;
    height: 45px;
    padding: 10px 0px 10px 5px;
    float: left;    
    font: bold 16px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
    border-radius: 3px;
    margin: 5px 0px 5px 5px;
}

.onesearch-form-wrapper #submit {
    float: right;    
    margin: 6px 3px 0 0;
    border: 1px solid #280007;
    height: 42px;
    width: 95px;
    padding: 0;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    text-transform: uppercase;    
    background-color: #5e0117;
    background-image: linear-gradient(top, #280007, #5e0117);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;      
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #fff;
}

/* Suppress Contact Information */
.page-node-120 .field-name-field-contact { display: none; }
.page-node-112 .field-name-field-contact { display: none; }
.page-node-103 .field-name-field-contact { display: none; }

/* Events Feed */
.page-aggregator .feed-item-date { display: none; }
.page-aggregator .feed-updated { display: none; }
.page-aggregator .feed-image { display: none; }
.page-aggregator .feed-description { display: none; }
.page-aggregator .feed-url { display: none; }
.page-aggregator .feed-item-title { margin-top: 15px; }
.page-aggregator .feed-item-body b:nth-child(4) { display: block; margin-top: 10px; } 

/* Scholarship Submission Form */
#edit-field-author-agreement > div > label { display: none; }
input#edit-field-author-agreement-und::after { 
    content: "*";
    color: #F00;
    font-size: 150%;
    margin-left: 100%;
}
div.form-item-field-author-agreement-und > div.description {
    margin-top: -1em;
    font-size: 125%;
}
div#edit-field-author-agreement { padding: 10px 0; }

/* Styles for three column slick carousel */
div.carousel-three-items .slick-slide {
  margin: 0 10px;
}

div.carousel-three-items .slick-list {
  margin: 0 -10px;
  width: 100%;
}

div.carousel-three-items button.slick-prev {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  margin: 0;
  border-radius: 0;
  font-size: 140%;
  background-color: rgba(0,0,0,0.5);
}

div.carousel-three-items button.slick-prev:hover {
  background-color: black;
}

div.carousel-three-items button.slick-prev:focus {
  box-shadow: none;
}

div.carousel-three-items .slick-next {
  position: absolute;
  top: 0;
  right: 20px;
  z-index: 1;
  height: 100%;
  margin: 0 -3px 0 0;
  border-radius: 0;
  font-size: 140%;
  background-color: rgba(0,0,0,0.5);
}

div.carousel-three-items button.slick-next:hover {
  background-color: black;
}

div.carousel-three-items button.slick-next:focus {
  box-shadow: none;
}

/* News Page */

div.block-library-news-block-1 img {
  float: left;
  padding-right: 20px;
}

body.page-news img {
  float: left;
  padding-right: 20px;
}

body.page-news li.node-readmore {
  float: right;
}

blockquote.image-field-caption {
  display: none;
}

body.node-type-news blockquote.image-field-caption {
  clear: both;
  display: block;
  float: right;
  min-width: 360px;
  max-width: 380px;
  border: none; 
  text-align: center;
  margin: 5px 10px 5px 20px;
  padding: 0;
  font-style: italic;
  font-size: 0.9em;
}

/* Calendar Events Page */
.localist_widget_container li.lw_event_item {
  border: 1px solid #782f40 !important;
  background-color: #f3ede1 !important;
}

.localist_widget_container .action_button a {
  background-color: #782f40 !important;
  color: white !important;
}

.localist_widget_container .action_button a:hover {
  background-color: #47222a !important;
  color: white !important;
}

.lw_event_meta .pin {
  background-color: #782f40;
}

.lw_event_meta .clock {
  border: 2px solid #782f40;
}

.lw_event_meta .clock:after {
  border: 1px solid #782f40;
}

.lw_event_meta .clock:before {
  border: 1px solid #782f40;
}

.lw_event_item_date {
  font-size: 16px !important;
  font-weight: bold !important;
}

/* Contact Us Page */

body.context-contact-us div.three-column-table div p { padding-left: 35px; }

/* DRS Home Page */

div.view-drs-page-news-teasers .views-more-link {
  font-weight: bold;
  padding-left: 15px;
}

div.view-drs-page-news-teasers .views-more-link:after {
  content: "⇢";
  display: inline-block;
  padding-left: 5px;
}

div.view-drs-page-news-teasers div.views-row {
  float: left;
  margin-bottom: 20px;
} 

/* Taxonomy Term View */

div.view-taxonomy-term div.view-content .views-row .node {
  border: none;
  padding: 5px 0 5px 10px;
}

div.view-taxonomy-term div.view-header li {
  list-style: none;
  margin: 15px 0 5px 0;
}

/* Subject Librarian Page */

div.view-library-staff img {
  float: right;
  padding-left: 20px;
  padding-bottom: 15px;
}

/* Eresource Page */
body.node-type-e-resource div.field-item img {
  max-width: 450px;
  width: 100%;
}

/* Software List */

body.page-software-locations div.views-field div.field-content p {
  margin-bottom: 0;
}

body.page-software-locations div.views-row {
  margin-bottom: 1.5em;
}

/* Software Pages */
.node-type-software .field-name-field-software-image img {
  float: right;
  margin-left: 20px;
  padding-bottom: 20px;
}

.node-type-software .field-name-field-location.clearfix::after {
  display: inline;
}

.node-type-software .field-name-body {
  margin-top: 20px;
}

.node-type-software .field-name-field-map-location {
  margin: 1em 0;
}

/* Special Collections Home Page */

section.two-column-left-block h2.block-title {
  padding-bottom: 25px;
}

section.two-column-left-block .views-row {
  margin-bottom: 25px;
}

section.two-column-left-block .views-field-field-date-blog-posted {
  font-size: 150%;
  border: 1px solid #ddd;
  width: 50px;
  text-align: center;
  background-color: #f3ede1;
  float: left;
}

section.two-column-left-block .views-field-title {
  font-size: 160%;
}

section.two-column-right-block {
  padding-right: 18px;
}

section.two-column-right-block h2.block-title {
  padding-bottom: 25px;
}

section.two-column-right-block .s-lc-time {
  float: right;
}

div#sca-home-page-gallery a {
  color: white;
}

div#sca-home-page-gallery a:hover {
  text-decoration: none;
}

div#sca-home-page-gallery div#research { 
  background-image: url("https://www.lib.fsu.edu/sites/default/files/sites/default/files/upload/sca/Research.png"); 
  background-repeat: no-repeat;
}

div#sca-home-page-gallery div#research:hover { 
  background-image: url("https://www.lib.fsu.edu/sites/default/files/sites/default/files/upload/sca/Research-hover.png"); 
  background-repeat: no-repeat;
}

div#sca-home-page-gallery div#visit { 
  background-image: url("https://www.lib.fsu.edu/sites/default/files/sites/default/files/upload/sca/Visit.png"); 
  background-repeat: no-repeat;
}

div#sca-home-page-gallery div#visit:hover { 
  background-image: url("https://www.lib.fsu.edu/sites/default/files/sites/default/files/upload/sca/Visit-hover.png"); 
  background-repeat: no-repeat;
}

div#sca-home-page-gallery div#collections { 
  background-image: url("https://www.lib.fsu.edu/sites/default/files/sites/default/files/upload/sca/Collections.png"); 
  background-repeat: no-repeat;
}

div#sca-home-page-gallery div#collections:hover { 
  background-image: url("https://www.lib.fsu.edu/sites/default/files/sites/default/files/upload/sca/Collections-hover.png"); 
  background-repeat: no-repeat;
}

div#sca-home-page-gallery div#catalogs-databases { 
  background-image: url("https://www.lib.fsu.edu/sites/default/files/sites/default/files/upload/sca/Catalog.png"); 
  background-repeat: no-repeat;
}

div#sca-home-page-gallery div#catalogs-databases:hover { 
  background-image: url("https://www.lib.fsu.edu/sites/default/files/sites/default/files/upload/sca/Catalog-hover.png"); 
  background-repeat: no-repeat;
}

div#sca-home-page-gallery div#exhibits-events { 
  background-image: url("https://www.lib.fsu.edu/sites/default/files/sites/default/files/upload/sca/Exhibits-Events.png"); 
  background-repeat: no-repeat;
}

div#sca-home-page-gallery div#exhibits-events:hover { 
  background-image: url("https://www.lib.fsu.edu/sites/default/files/sites/default/files/upload/sca/Exhibits-Events-hover.png"); 
  background-repeat: no-repeat;
}

div#sca-home-page-gallery div#heritage-protocol { 
  background-image: url("https://www.lib.fsu.edu/sites/default/files/sites/default/files/upload/sca/HPUA.png"); 
  background-repeat: no-repeat;
}

div#sca-home-page-gallery div#heritage-protocol:hover { 
  background-image: url("https://www.lib.fsu.edu/sites/default/files/sites/default/files/upload/sca/HPUA-hover.png"); 
  background-repeat: no-repeat;
}

div#sca-home-page-gallery div#pepper-library { 
  background-image: url("https://www.lib.fsu.edu/sites/default/files/sites/default/files/upload/sca/Pepper.png"); 
  background-repeat: no-repeat;
}

div#sca-home-page-gallery div#pepper-library:hover { 
  background-image: url("https://www.lib.fsu.edu/sites/default/files/sites/default/files/upload/sca/Pepper-hover.png"); 
  background-repeat: no-repeat;
}

div#sca-home-page-gallery div#digital-library { 
  background-image: url("https://www.lib.fsu.edu/sites/default/files/sites/default/files/upload/sca/DigLib.png"); 
  background-repeat: no-repeat;
}

div#sca-home-page-gallery div#digital-library:hover { 
  background-image: url("https://www.lib.fsu.edu/sites/default/files/sites/default/files/upload/sca/DigLib-hover.png"); 
  background-repeat: no-repeat;
}

div#sca-home-page-gallery div#about { 
  background-image: url("https://www.lib.fsu.edu/sites/default/files/sites/default/files/upload/sca/About.png"); 
  background-repeat: no-repeat;
}

div#sca-home-page-gallery div#about:hover { 
  background-image: url("https://www.lib.fsu.edu/sites/default/files/sites/default/files/upload/sca/About-hover.png"); 
  background-repeat: no-repeat;
}

div#sca-home-page-gallery div#faqs { 
  background-image: url("https://www.lib.fsu.edu/sites/default/files/sites/default/files/upload/sca/FAQ.png"); 
  background-repeat: no-repeat;
}

div#sca-home-page-gallery div#faqs:hover { 
  background-image: url("https://www.lib.fsu.edu/sites/default/files/sites/default/files/upload/sca/FAQ-hover.png"); 
  background-repeat: no-repeat;
}

/* Hope test CSS */

.img-flip { 
  position: relative; 
  display: block; 
} 

.img-flip img { 
  display: block; 
  position: absolute; 
  top: 0; 
  left: 0; 
  margin: 0; 
  width: 100%; 
  height: auto; 
} 

.img-flip img:last-child { 
  opacity: 0; 
} 

.img-flip:hover img:first-child { 
  opacity: 0; 
} 

.img-flip:hover img:last-child { 
  opacity: 1; 
} 

.active .img-flip img:first-child { 
opacity: 0; 
} 

.active .img-flip img:last-child { 
  opacity: 1; 
} 

.person .person-photos { 
  height: 0; 
  padding-bottom: 72%; 
  position: relative; 
} 

.person .person-photos img { 
  display: block; 
  position: absolute; 
  top: 0; 
  left: 0; 
  margin: 0; 
  width: 100%; 
  height: auto; 
}

/* Equipment Pages */

div.node-equipment div.field-name-field-equipment-highlights {
  float: right;
  border: 1px solid #d1cbc0;
  padding: 15px 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  background-color: #f3ede1;
}

div.node-equipment div.field-name-check-availability {
  clear: both;
  float: right; 
}

div.field-name-field-equipment-related-items {
  border: 1px solid #adadad;
}

div.field-name-field-equipment-related-items div.field-label {
  padding: 12px 12px 20px; 
  font-size: 115%;
  color: #7c3546;
}

div.view-equipment-search {
  text-align: center;
}

div.view-equipment-search .views-field-title {
  padding-top: 15px;
  font-weight: bold;
  font-size: 110%;
}

/* Year of Poetry */

body.context-year-of-poetry #zone-content li {
  margin-left: 0px;
}

/* Streaming Media Request Form */

div.field-name-field-streaming-clips div.description {
  margin-top: 20px;
  color: black;
  font-size: 115%;
}

/* Services List */

div.services-search h3 {
  font-size: 5.5em;
  float: left;
  width: 60px;
  /* text-align: center;
  padding: 10px 10px 0px 10px;
  background-color: #dbeae0;
  margin: 10px 25px 0px 0px; */
}

div.services-search {
  margin-top: 30px;
}

div.services-search div.item-list {
  float: left;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

div.services-search li.views-row {
  margin-top: 25px;
}

div.services-search div.views-field {
  margin-left: 85px;
}

div.services-search div.views-field-title,
div.services-search div.views-field-title-2 {
  font-size: 150%;
}

div.service-list-exposed-filters {
  background-color: #f3ede1;
  padding: 20px 20px 25px 30px;
}

div.service-list-exposed-filters label {
  font-size: 120%;
  padding-bottom: 5px;
}

div.service-list-exposed-filters input[type="text"] {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 3%;
  color: #555;
  font: 95% Arial, Helvetica, sans-serif;
  height: 2.5em;
}

div.service-list-exposed-filters input[type="text"]:focus {
  box-shadow: 0 0 5px #43D1AF;
  padding: 3%;
  border: 1px solid #43D1AF;
}

div.service-list-exposed-filters select {
  /*padding: 14px;*/
  height: 2.3em;
}

/* DigiNole Submission Form */
body.page-node-add-faculty-scholarship-submission .form-item-field-scholarly-author-und-0-field-email-und-0-value,
body.page-node-add-faculty-scholarship-submission .form-item-field-scholarly-author-und-1-field-email-und-0-value,
body.page-node-add-faculty-scholarship-submission .form-item-field-scholarly-author-und-2-field-email-und-0-value {
  display: none;
}

/* Department Listing */
.depthighlight {
  background-color:#f4f4f4;
  padding:20px 20px 20px 20px;
}

.deptnohighlight {
  background-color:white;
  padding:20px 20px 20px 20px;
}

.depttitle {
  font-weight:500;   
  padding-top: 50px;
}

.subdept {
  font-weight:bold;
  padding-right: 5px;
}

.deptcallout {
  background-color:#f3ede1;  
  padding:20px 20px 10px 20px;
  border:solid;
  border-width:1px;
}

/* Help and Support Page */

.helpcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.helpitem {
  justify-content: center;
  width: 150px;
  padding: 0px 50px 30px 50px;
  position: relative;
}

.helplink {
  font-size:large;
}

/* Strategic Initiative Pages */

body.node-type-strategic-initiative div.field-label{
  font-size:large;
}

.strat_init_class_1 .field-label-above {
  background-color: #f3ede1;
  border: 2px solid black;
  padding-left:10px;
  padding-top:20px;
  margin-bottom:20px;
}

.strat_init_class_1 div.field-item.even{
  padding:10px 0px 10px 0px;
}

.strat_init_class_2 div.field-label {
  padding:10px 0px 10px 0px;
}

body.node-type-strategic-initiative .ds-2col-stacked > .group-left {
  float: auto;
  width: 40%;
  padding:0px 0px 10px 10px;
  background-color:#f3ede1;
}

.strat_init_class_4 div.field-label{
  padding:10px 0px 10px 0px;
}

.strat_init_class_3  div.field-label {
  padding:10px 0px 10px 0px;
}

/* Special Ask a Librarian Settings */

body.page-node-18 div#block-block-39 {
  display:none;
}
